

body{
	background : #222222;
	color : #67727A;
	margin : 0;
	font-family: 'Athiti', sans-serif;
	
}


*{
	margin : 0;
	padding : 0;
	border : 0;
}

p{
	
	color : black;
	margin-left:20px;
	text-align : justify;
	
}
pre{
	color : black;
	margin-left:20px;
	text-align : justify;
	
}
header{
	background-color : #9f9292;
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	width : 100%;
	height : 66px;
}
#headers{
	max-width : 1200px;
	margin : 0 auto;
}
#login{
	color:gray;
}
#logo{
	margin : 0 20px 20px 0;
	float : left;
	width : 200px;
	height : 60px;
	background : url(../img/ranner.png) no-repeat center;
}

nav{
	margin: 0 auto;
	padding : 25px 20px 0 0;
}
#menu-icon{
	display : hidden;
	width : 40px;
	height : 40px;
	background : url(../img/nav.png) center;
}
a:hover#menu-icon{
	border-radius : 4px 4px 0 0;
}
ul{
	list-style-type : none;
}
h1{
	color:black;
	font-size:100px;
	text-align:center;
	font-family: 'Kanit', sans-serif;
}
h2{
	color:black;
	font-size:40px;
	margin-left:20px;
	font-family: 'Kanit', sans-serif;
	
}
h3{
	
	margin-left:20px;
	margin-top:20px;
	margin-bottom:20px;
}
nav ul li{
	
	font-size : 100%;
	display : inline-block;
	float : left;
	padding : 0 30px 0 30px;

}
nav ul li a{
	color : #F5F5F5;
	padding: 0;
	text-decoration : none;
}
nav ul li a:hover{
	color:yellow;	
	text-decoration : none;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0;
    text-decoration: none;
}



li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: black}

.dropdown:hover .dropdown-content {
    display: block;
}

.image_back1{
	background:url(../img/back2.jpg);
	background-size:cover;
	
}
.news{
	margin-right:10px;
	float:left;

}
#news_pic{
	margin:10px;
}


.left{
	float:left;	
	margin-left:100px;
}
#new1{
	border:2px solid yellow;
	margin-top:40px;
}
div p a{
	color:powderblue;
}
div p a:hover {
	color:yellow;
}

section a{
	text-decoration:none;
	color:white;
	font-size:35px;
	
	
}
section a:hover{
	color:yellow;
	text-decoration:none;
	font-size:35px;
	
}

#move{
	margin-left:-300px;
}
.size{
	font-size:60px;
	margin-bottom:-80px;
}
#size{
	margin-bottom:-80px;
}
#fs{
	font-size:30px;
}

.black-ribbon {   position: fixed;   z-index: 9999;   width: 70px; }
@media only all and (min-width: 768px) { .black-ribbon { width: auto; } }

.stick-left { left: 0; }
.stick-right { right: 0; }
.stick-top { top: 0; }
.stick-bottom { bottom: 0; }

#big{
	height: 500px;
	padding: 0;
}
#left{
	width: 80%;
	float: left;
	height: 100%;
	background: #f8f97a;
}
#left2{
	width: 80%;
	float: left;
	height: 100%;
	background: #c0fffa;
}
#right{
	width: 20%;
	float: right;
	background: #9afff7;
	height: 100%;
}
#right2{
	width: 20%;
	float: right;
	background: #ffc162;
	height: 100%;
}
.right-inside{
	width: 100%;
	height: 50px;
	text-align: center;
	padding-top: 30px;
	color: black;
}
.right-inside:hover{
	background:#f3403f;
}
#left-2{
	display: none;
}
#left-3{
	display: none;
}